<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('partials/errors') %>
    <hr />
    <form method="post">
      <p style="display: inline-flex">
        <label>
          <span>Folder name:</span>
          <input type="text" name="foldername" value="<%= value %>" />
        </label>
      </p>
      <span> &nbsp; &nbsp; </span>
      <% if (title.match(/Create/)) { %>
      <button type="submit">Create</button>
      <% } else { %>
      <button type="submit">Rename</button>
      <% } %>
    </form>
    <p>Back to <a href="/">homepage</a></p>
  </body>
</html>
